* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik Mono One', sans-serif;
}

a {
  text-decoration: none;
  outline: none;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vw;
  background-color: white;
  z-index: 100;
  /*border-bottom: 0.175vw solid #111;*/
  box-shadow: 0 0.25vw 0.5vw 0 rgba(0,0,0,0.5);
}

.header img {
  position: absolute;
  top: 0;
  left: 7.5vw;
}

img.logo {
  height: 5vw;
}

.header a {
  margin: 0 0.5vw;
  padding: .5vw 2vw;
  border: 0.15vw solid white;
  font-size: 1.25vw;
  transition: border 0.25s;
  transition-timing-function: ease;
}

.header a:hover {
  border: 0.15vw solid #555;
}

.header .active {
  border: 0.15vw solid #555;
}

.header ul {
  text-align: right;
  margin: 1.3vw 3vw;
  margin-right: 5vw;
  line-height: 2.2vw;
}

.header li {
  display: inline;
}

#homeLink li {
  color: #797;
}
#aboutLink li {
  color: #686;
}
#projectsLink li {
  color: #575;
}
#contactLink li {
  color: #464;
}
#blogLink li {
  color: #353;
}


.content {
  width: 100%;
  background-color: #111;
  margin: 0 auto;
  padding-top: 5vw;
  min-height: calc(100vh - 13vw);
}
.image {
  background-image: url("../images/foggyForest.jpg");
  /*background: #333;*/
  background-size: cover;
  padding: 0.4vw 0;
}
.content img {
  width: 30vw;
  display: block;
  margin: 2vw auto;
  border-radius: 50%;
  border: 0.5vw solid white;
}
.content h1 {
  color: #353;
  text-align: center;
  font-size: 3vw;
  margin-top: 1vw;
}
.content h2 {
  color: #575;
  text-align: center;
  font-size: 2vw;
}
span.lightning {
  color: white;
}
.content p {
  color: #8a8;
  text-align: center;
  font-size: 1.5vw;
  padding-top: 1vw;
  padding-bottom: 2.5vw;
}
.content a {
  display: block;
  text-align: center;
  font-size: 2vw;
  color: #d33939;
  text-decoration: underline;
  padding-bottom: 1vw;
}


.bio {
  display: block;
  width: 70vw;
  margin: 1vw auto;
  position: relative;
  margin-bottom: 3vw;
}
.bio > img {
  position: relative;
  top: 2vw;
  width: 23vw;
  float: left;
  margin: 2vw;
  margin-bottom: 0;
  border-radius: 0;
  border: 0.5vw solid white;
}
.bio > span {
  float: none;
  position: relative;
  width: 30vw;
  color: #8a8;
  font-size: 2vw;
  top: 2vw;
  margin-bottom: 1vw;
  font-family: 'Fjalla One', sans-serif;
}


.wrapper {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
  grid-auto-rows: minmax(25vw, 10vw);  /*might change 10vw back to auto*/
}
.wrapper > div {
  border: 0.5vw solid white;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper > div > img {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}
.projectLabel {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100%;
  /*background-color: rgba(255,255,255, 0.5);*/
  background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(255,255,255,0));
  color: #111;
  padding: 0.5vw;
  padding-left: 2.25vw;
  font-size: 2.25vw;
  font-family: 'Fjalla One', sans-serif;
}

.lineBreaks {
  line-height: 1.25vw;
}
.contactImage {
  background-image: url("../images/foggyForest.jpg");
  height: 15vw;
  background-size: cover;
  padding: 0.4vw 0;
}
p.contactP {
  font-size: 1.75vw;
}
form {
  padding-bottom: 0.5vw;
}
input {
  display: block;
  margin: 1vw auto;
  width: 20vw;
  font-size: 1.25vw;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  padding: 0.5vw;
}
.name {
  width: 16vw;
}
.submit {
  width: 8vw;
}
textarea {
  display: block;
  margin: 1vw auto;
  width: 30vw;
  height: 10vw;
  font-size: 1.25vw;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  padding: 0.5vw;
}


.footer {
  background-color: white;
  text-align: center;
  padding: 1vw;
}
.footer img {
  width: 2.75vw;
  display: inline;
}
p.copyright {
  color: #333;
  margin-top: 0.5vw;
  font-size: 1vw;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}


/*----------------------------------------------------------------------------*/


@media screen and (orientation: portrait) {

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vw;
    background-color: white;
    z-index: 100;
    /*border-bottom: 0.4vw solid #111;*/
    box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.5);
  }
  .header img {
    position: absolute;
    top: 9vw;
    left: 0vw;
  }
  img.logo {
    width: 30vw;
    visibility: hidden;
  }
  .header a {
    margin: 0 -1vw;;
    /*padding: 0.5vw 2vw;
    border: 0.4vw solid white;
    font-size: 2.25vw;*/
    padding: 0.5vw 1.75vw;
    border: none;
    font-size: 2.75vw;
  }
  .header a:hover {
    /*border: 0.4vw solid #464;*/
    border: none;
  }
  .header .active {
    /*border: 0.4vw solid #464;*/
    border: none;
  }
  .header ul {
    text-align: center;
    margin: 1.3vw 0;
    margin-right: 0;
    line-height: 5.5vw;
  }
  .header li {
    display: inline;
  }


  .content {
    width: 100%;
    background-color: #111;
    margin: 0 auto;
    min-height: calc(100vh - 23vw);
  }
  .image {
    background-image: url("../images/foggyForest.jpg");
    /*background: #333;*/
    background-size: cover;
    padding: 0.4vw 0;
  }
  .content img {
    width: 60vw;
    display: block;
    margin: 3vw auto;
    border-radius: 50%;
    border: 1vw solid white;
    margin-top: 7vw;
  }
  .content h1 {
    color: #353;
    text-align: center;
    font-size: 6.5vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
  }
  .content h2 {
    color: #575;
    text-align: center;
    font-size: 3.5vw;
  }
  span.lightning {
    color: white;
    font-family: 'Noto Sans', sans-serif;
  }
  .content p {
    width: 85vw;
    color: #8a8;
    margin: 0 auto;
    text-align: center;
    font-size: 3vw;
  }
  .content a {
    font-size: 3.5vw;
    padding-top: 4vw;
  }


  .bio {
    position: relative;
    left: 3.5%;
    width: 80vw;
    margin: 1vw auto;
    position: relative;
    margin-bottom: 3vw;
    text-align: left;
  }
  .bio > img {
    position: relative;
    left: 5%;
    width: 65vw;
    display: block;
    margin: 2vw auto;
    margin-bottom: 1vw;
    border-radius: 0;
    border: 1vw solid white;
  }
  .bio > span {
    display: block;
    width: 75vw;
    color: #8a8;
    font-size: 3.5vw;
    top: 3vw;
    margin-bottom: 1vw;
    font-family: 'Fjalla One', sans-serif;
  }


  .wrapper {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5vw;
    grid-auto-rows: minmax(50vw, 55vw);  /* Might change 55vw back to auto */
  }
  .wrapper > div {
    border: 1vw solid white;
    background-color: #444;
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2;
  }
  .three {
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    grid-column: 1;
    grid-row: 4;
  }
  .five {
    grid-column: 1;
    grid-row: 5;
  }
  .six {
    grid-column: 1;
    grid-row: 6;
  }
  .seven {
    grid-column: 1;
    grid-row: 7;
  }
  .eight {
    grid-column: 1;
    grid-row: 8;
  }
  .projectLabel {
    padding: 1vw;
    padding-left: 3vw;
    font-size: 5vw;
  }


  .lineBreaks {
    line-height: 2vw;
  }
  .contactImage {
    height: 25vw;
  }
  p.contactP {
    font-size: 3.25vw;
  }
  form {
    padding-bottom: 0.5vw;
  }
  input {
    display: block;
    margin: 3vw auto;
    width: 60vw;
    font-size: 4vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    padding: 1vw;
  }
  .name {
    width: 50vw;
  }
  .submit {
    width: 22vw;
  }
  textarea {
    display: block;
    margin: 3vw auto;
    width: 65vw;
    height: 20vw;
    font-size: 4vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    padding: 1vw;
  }


  .footer {
    background-color: white;
    text-align: center;
    padding: 2vw;
  }
  .footer img {
    width: 7.5vw;
    display: inline;
  }
  p.copyright {
    color: #333;
    margin-top: 0.5vw;
    font-size: 2.75vw;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
  }
}
